/*
 * Footer Style
 */
 footer{
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #cccccc;
    text-align: center;
    bottom: 0;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
}
