/*
* global Style
*/
.container{
    max-width: 1000px;
    margin: 30px auto;
}
body{
    color: white;
    margin: 0;
    padding: 0;
    font: 14px Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
strong{
    font-weight: bold;
}
